body {
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-family: 'Livvic', sans-serif;
}

#header1 {
    font-size: 500px;
    text-align: center;
    font-weight: normal;
}

#header2 {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

/* NAVIGATION BAR */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(64, 77, 67);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #4CAF50;
  }

/* IMAGES */
.ferns2-img {
    width: 350px;
    height: 400px;
    float: auto;
    padding: 30px 20px 30px 20px;
}
.ferns-img {
  width: 350px;
  height: 400px;
  float: middle;
  padding: 30px 20px 30px 20px; 
}

.ferns3-img {
    width: 350px;
    height: 400px;
    float: auto;
    padding: 30px 20px 30px 20px;
}

/* FOOTER */
#github-logo {
    display: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

#blog-footer {
    background-color: rgb(64, 77, 67);
    text-align: center;
    position: fixed; 
    height: 80px;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }

  